

.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
}

#totalDose {
    padding-top: 20px;
}

#doseBtn {
    padding-top: 20px;
}

#dose {
    border: 2px solid black;
}

.title {
    display: inline-block;
    width: 150px;
}